<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body" class="b-example-divider">
      <h5 class="card-title">Card title</h5>
        <form method="POST" action="/">
          {% csrf_token %}
         {{form}}
         <input class="btn btn-info" type="submit" name="Create task">
        
        </form>
        
=      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">

    </div>
  </div>