<div class="container2 " >
<form class="d-flex" role="search" method="get" action="/search">
  <!-- method="get" action="/search"   this enable to go to the search url when you click search button due to get parameter-->
  
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="search">
<!--  name="query" id="search" (the txt inputed in the search form is sent to name eg http://127.0.0.1:8000/search?query=asd)-->
  
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<form action="/updatetask">
  <button class="btn btn-outline-success" type="submit">Add</button>
</form>
</div>




