{% extends 'accounts/main.html' %}


{% block content %}
 
<div class="container" >
    <div class="row"> 
       <div class="col-md">
        
            <div class="card card-body custom-table2 ">
                <h5>Search</h5>
            </div>
            <div class="table-wrapper">
                <table class="table ">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>PhoneNo</th>
                        <th>Completed</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                    {% for persondetail in person %}
                        <tr>
                            <td>{{ persondetail.Name }}</td>
                            <td>{{ persondetail.Address }}</td>
                            <td>{{ persondetail.email.email }}({{ persondetail.email.get_emailtype_display }})</td>
                            <td>{{ persondetail.phoneno.Number }} ({{ persondetail.phoneno.get_Phonetype_display }})</td>
                            <td>Completed: {{ persondetail.complete }}</td>
                            <td><a href="{%url 'edit' persondetail.id %}">Edit</a></td>
                            <td><a href="{%url 'delete_item' persondetail.id%}">delete</a></td>

                            <!-- <td><a href="url">delete</a></td> -->
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div> 
    </div>
</div>
{%endblock%}

