
{% extends 'accounts/main.html' %}

{% block content %}

<div class="container flex-wrapper">
    
    <div class="form-wrapper ">
        <div class="form-container flex-wrapper">
            <form method="POST" action="/update_task">
                {% csrf_token %}
                <div class="form-content">
                    {{ form.as_p }}
                   
                    <input type="submit" name="persondetail" class="btn btn-outline-success" value="Submit">
                    
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}
<!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="search"> -->
